.full-width{
    width:100%;
}

.slide-fade-enter-active {
    transition: all 2s ease;
  }
  .slide-fade-leave-active {
    transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

.centered-container{
  position: absolute !important;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:0 auto;
}

.top-progress-bar{
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:7;
}

