.full-width{
    width:100%;
}

.slide-fade-enter-active {
    transition: all 2s ease;
  }
  .slide-fade-leave-active {
    transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

body{
    overflow-y:auto;
    -webkit-perspective: 0;
    @media screen and (max-width: 768px) {
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;
      //try to fix ios bug
      // #app{
      //   height: calc(100% + 1px);
      // }
    }
}

.centered-container{
  position: absolute !important;
  top:0;
  bottom:0;
  right:0;
  left:0;

}

.md-progress-bar.top-progress-bar{
  position:fixed;
  top:56px;
  right:0;
  left:0;
  z-index:5;
}

.map-text-control{
  position:absolute;
  top:4px;
  right:0;
  left:0;
  z-index:7;
  text-align:center;
}

.full-height-relative{
  //revert here if needed
  // position:absolute;
  // top:56px;
  // bottom:0;
  // left:0;
  // right:0;
  height: 100%;
  position: relative;
}

.md-overlay{
  position:fixed !important;
}

#app{
  height:100%;
}

.full-height{
  height:100%;
}

//try to hack browser to work ok
// *:not(html){
//   -webkit-transform: translate3d(0,0,0);
//   // transform: translate3d(0,0,0);
// }
.md-chip.high-gravity{
  background-color: rgba(255, 13, 13, 0.70) !important;
  color: white!important;
}
.md-card-example {
  .md-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .md-subhead {
    .md-icon {
      $size: 16px;

      width: $size;
      min-width: $size;
      height: $size;
      font-size: $size !important;
    }

    span {
      vertical-align: middle;
    }
  }

  .card-details {
    margin-top: 8px;
    display: flex;
    align-items: center;

    .md-icon {
      margin: 8px 0;
    }
  }

  .md-button-group {
    line-height: 24px;
    display: flex;
    .description-item {
      margin-left:8px;
    }
  }
}

